body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.tilegrid {
  width: 95%;
  min-width: 600px;
}
.tile {
  width: 95%;
}

svg {
  width: 99%;
}

g.onlyhover {
  opacity: 0.2;
}
g:hover.onlyhover {
  opacity: 0.6;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: #85919c;
  padding: 10px;
}

#alltiles {
  grid-column-start: 1;
  grid-column-end: 2;
}

